name = "__WORKER_NAME__"
main = "src/index.js"
compatibility_date = "2025-08-28"

[[kv_namespaces]]
binding = "KV"
id = "__KV_NAMESPACE_ID__"

[vars]
DEFAULT_TTL_SECONDS = 43200
HOME_ICON = "https://cdn.illusionlie.com/img/iL/ico/iL-circle.ico"
TITLE = "Burn Links"
BACKGROUND = "https://api.illusionlie.com/randomBackground"
BACKGROUND_VERTICAL = "https://api.illusionlie.com/randomBackground?type=vertical"
